@import '@repo/tokens/themes/your-dedicated-marketer.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
